* {
    text-decoration: none;
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0; 
    display: flex;
    justify-content: flex-end;
    background-color: #be3144;
    color: white;
    z-index: 1000;
}

.list {
    display: flex;
    list-style: none;
    font-size: 25px;
    padding: 20px 20px;
    font-weight: 500;
}

.list li a {
    text-decoration: none;
    color: white;
    margin: 25px;
}

.hero {
    background-color: #2e3032;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    color: #be3144;
    font-size: 30px;
}

.card-section {
    background-color: #45567d;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.cards img {
    display: flex;
    justify-content: center;
    margin: auto;
}

.images {
    height: 370px;
    width: 370px;
}

.cards p {
    position: relative;
    background-color: #303841;
    margin: auto;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    height: 50px;
}

.i {
    margin-top: 40px;
}

.card-section h2 {
    padding-top: 40px;
    font-size: 44px;
    border-bottom: 2px solid;
    width: 600px;
    margin: auto;
    color: aliceblue;
}

.card-text {
    margin-left: 15px;
    color: aliceblue;
}

.button {
    background-color: #303841;
    color: aliceblue;
    width: 150px;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button:hover {
    background-color: #be3144;
}

.second-section {
    background-color: #2e3032;
    height: 70vh;
}

.text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.icon a {
    font-size: 25px;
    color: aliceblue;
    margin: 10px;
    transition: transform 0.3s ease; 
}

.icon a:hover {
    transform: translateY(10px);
}

.footer {
    height: 100px;
    background-color: #2e3032;
    border-top: 2px solid red;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    color: aliceblue;
    align-items: center;
}
